<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

</head>

<body>
    <h1> hello world</h1>

    <div id="message"> </div>
    

    <!-- Form to send messages -->
    <form id="sendMessageForm">
        <input type="text" id="messageInput" placeholder="Type your message here..." required />
        <button type="submit">Send</button>
    </form>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/home.js">

</script>


</html>